src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="globalmenu">
    <xsd:complexType>
      <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="menu">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="classe" type="xsd:string" />
                    <xsd:element name="title" type="xsd:string" />
                    <xsd:element maxOccurs="unbounded" name="sousmenu">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="template" type="xsd:string" />
                          <xsd:element name="title" type="xsd:string" />
						   <xsd:element name="underclasse" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>        
      </xsd:sequence>
      <xsd:attribute name="defaultpage" type="xsd:string"/>
	  <xsd:attribute name="currentpage" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>